.container {
  width: 100%;
  padding: 2rem;
  background-color: #4d5979;
  color: white;
  font-size: 1.1rem;
}

.formContainer {
  width: 100%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  color: #06175a;
}

.field input {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: none;
  background: #ffffff;
  font-size: 1rem;
  outline: none;
  border: 2.1px, solid #2a96a8;
}

.button {
  display: block;
  margin: 2rem auto 0;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  background-color: #002b75;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0043ad;
}

.resultados {
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.resultados p {
  margin: 0.5rem 0;
}
