@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");

:root {
  --verde: #ffffff;
  --verde-claro: rgb(34 197 94);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #001039;
  color: #333;
}

.header-calc {
  text-align: center;
  padding: 2rem 1rem;
}

.title {
  font-size: 2rem;
  color: var(--verde);
}

.main-form {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    margin: 10px auto 0px;
    padding: 30px;
    border-radius: 10px;
}
